/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require main
*= require mobile
*= require_self
*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
.editor{
    height:600px  !important;
}
.import-editor {

     height:400px  !important;
}

.service-table thead th{
      text-align: center;
      color:#31708f;

}
.service-table td,.service-table th{
      text-align: center;
      width: 50%;
}


.x h3
{
text-shadow:5px 3px 0 rgba(NaN,NaN,NaN,1);
font-weight:normal;
color:#1E0AA3;
letter-spacing:1pt;
word-spacing:2pt;
font-size:20px;
text-align:left;
font-family:times new roman, times, serif;
line-height:1;
}
